     <footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <h4>Contact</h4>
                    <ul class="info-list md-list i-primary">
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a href="mailto:koshinowo@yahoo.com">mail@koladeoshinowo.com.ng<br>koshinowo@yahoo.com</a>
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                          234(0)8033037688
                        </li>
                        <li>
                            <i class="fa fa-map-marker fa-fw"></i>
                            15 Johnson Street,Onike, Yaba,Lagos, Nigeria.
                        </li>
                    </ul>
                </div>
                <div class="space-sm visible-sm visible-xs"></div>
                
                <div class="space-sm visible-sm visible-xs"></div>
                <div class="col-md-4 col-lg-4  col-xs-12">
                    <h4>About Us</h4>
                    <p>Get details <a href="about.html">here</a></p>
                    <div class="space-sm"></div>
                   
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                      <h4>Follow Us</h4>
                    <ul class="circle-icons icons-list">
                        <li>
                            <a href="#" title="Follow us">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Follow us">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Follow us">
                                <i class="fa fa-tumblr"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Follow us">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Follow us">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p>© 2016 KoladeOshinowo. All rights reserved.</p>
        </div>
    </div>
</footer>