<div class="navbar-header ng-scope">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Kolade<span class="text-primary">Oshinowo</span></a>
</div>
    <div class="collapse navbar-collapse ng-scope" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right ">

            <!--Home Pages -->
            <li>
                <a href="index.html">Home
                </a>

            </li>
            <li>
                <a href="about.html">Bio
                </a>

            </li>

            <li>
                <a href="gallery.html">Gallery
                </a>

            </li>
            <li>
                <a href="exhibitions.html">Exhibitions
                </a>

            </li>
            <li>
                <a href="contact.html">Contact
                </a>

            </li>

        </ul>
    </div>
